// 
// For Buttons Inner Spacing
// 

.btn-custom {
	padding: 15px 30px;
}

.btn-rounded {
	border-radius: 50px;
	padding: .5rem 1.5rem;
}

@include media-breakpoint-down(sm) {
	.btn-custom {
		padding: 15px 20px;
	}
}