//
// common card defalt margin setting here
// 

.card,
.card-group {
    margin-bottom: 30px;
}

// 
// Common Card style settings here
// 
.card {
    box-shadow: 0 0 3px 0 rgba(17, 7, 0, .2);
    -webkit-box-shadow: 0 0 3px 0 rgba(17, 7, 0, .2);
    -moz-box-shadow: 0 0 3px 0 rgba(17, 7, 0, .2);

    &.hover-card {
        box-shadow: 0 0 15px 0 rgba(17, 7, 0, .1);
        -webkit-box-shadow: 0 0 15px 0 rgba(17, 7, 0, .1);
        -moz-box-shadow: 0 0 15px 0 rgba(17, 7, 0, .1);
    }
}

// 
// For Banner Property Section
// 
.banner-property-position-card {
    margin-top: -75px;
}

@include media-breakpoint-down(md) {
    .banner-property-position-card {
        margin-top: 0;
    }
}