@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/ProximaNova-Regular.otf') format('opentype'),
		url('../../assets/fonts/ProximaNova-Regular.woff') format('woff'),
		url('../../assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../../assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../../assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/ProximaNova-Semibold.otf') format('opentype'),
		url('../../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../../assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('../../assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../../assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/ProximaNova-Bold.otf') format('opentype'),
		url('../../assets/fonts/ProximaNova-Bold.woff') format('woff'), url('../../assets/fonts/ProximaNova-Bold.ttf') format('truetype'), url('../../assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova-RegularIt';
	src: url('../../assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/ProximaNova-RegularIt.otf') format('opentype'),
		url('../../assets/fonts/ProximaNova-RegularIt.woff') format('woff'), url('../../assets/fonts/ProximaNova-RegularIt.ttf') format('truetype'), url('../../assets/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ProximaNova-BoldIt';
	src: url('../../assets/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/ProximaNova-BoldIt.otf') format('opentype'),
		url('../../assets/fonts/ProximaNova-BoldIt.woff') format('woff'), url('../../assets/fonts/ProximaNova-BoldIt.ttf') format('truetype'), url('../../assets/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: normal;
	font-style: normal;
}